.Hero{
    height: 100vh;
    width: 100%;

}
#Intro{
    /* background-color: white; */
    text-align: center;
    color: white;
}
body{
    font-family: 'Times New Roman';
    background-color: black;
    color: white;
}
#NavBar{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    color:gray;
    height: 5%;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
}
#Background{
    height: 95%;
    width: 100%;
    background-image: url("https://wallpaperplay.com/walls/full/7/3/7/28154.jpg");
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}

.Intro_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;

}
.Titulos{
    text-align: center;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    height: 40px;
    font-family: Impact;
}

.Intro_wrapper1{
    height: 300px;
    display: flex;
    align-items: center;
}
.img_box{
    height: 150px;
    width: 100%;
    display: flex; 
    align-items: center;
}
#img_box1{
    height: 250px;
    width: 50%;
}
.img_wrapper{
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex; 
    align-items: center;
}
/* #img_drive{
    width: 100%;
} */
.icon_proy{
    display: block;
    margin: auto;
    width: 70%;
    height: 80%;
}
.Titulo_Proy1{
    width: 100%;
    height: 80px;
    text-align: center;
    display: grid;
    grid-template-rows: 2;
}
.Titulo_Proy{
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
}
.Titulo_wrapper{
    display: grid;
    align-items: end;
}
.Portafolio{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.TecTitle_wrapper{
    height:30px;
}

.Tec_wrapper > div {
    border: 1px white solid;
    width: 100%;
    height: 150px;
}

.Tec_wrapper1{
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}
.tecs_icon{
    height: 80%;
    width: 50%;
}
.tecs_icon1{
    height: 280px;
    width: 80%;
}

.link{
    color: blueviolet;
    font-family: sans-serif;
    font-style: italic;
}

#docs_wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.about_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
}
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#foto{
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
}
#about_text{
    text-align: center;
}
.skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: 33%;
    
}
#css_skills{
    background-image:url(/img/css.jpg);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
}
#js_skills{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-image: url(https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/Screen%20Shot%202018-12-08%20at%204.45.18%20PM_0.png?itok=VnexEoCn);
}
#html_skills{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-image: url(https://c8.alamy.com/comp/BY66EN/vertical-image-of-human-hands-typing-a-letter-BY66EN.jpg);
}
.div_skills{
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    color:black;
}


